<section class="abstract">
  <div class="container">
    <article><%= render_markdown('intro') %></article>
    <article><%= render_markdown('background') %></article>
    <article><%= render_markdown('who') %></article>
    <article><%= render_markdown('differences') %></article>
  </div>
</section>

<section class="concrete" style="background: #fff; padding-bottom: 0">
  <div class="container">
    <h1 id="factors">The Ten Factors</h1>

    <article id="toc"><%= render_markdown('toc') %></article>
  </div>
</section>
<section class="concrete" style="background: #fff;">
  <div class="container">

    <% @factors.each_with_index do |factor, i| %>
      <% if i > 0 %><hr style="border-top: 5px solid"/><% end %>
        <article id="<%= slugify(factor) %>" class="factor">
          <h2>
            <a href="#<%= slugify(factor) %>">
              <%= "#{romanize(i + 1)}. #{factor}" %>
            </a>
          </h2>
          <%= render_markdown(slugify(factor)) %>
        </article>
    <% end %>
  </div>
</section>