<section class="abstract">
  <div class="container">
    <article><%= render_markdown('intro') %></article>
    <article><%= render_markdown('background') %></article>
    <article><%= render_markdown('differences') %></article>
    <article><%= render_markdown('who') %></article>
  </div>
</section>

<section class="concrete">
  <div class="container">
    <article id="factors"><%= render_markdown('toc') %></article>
  </div>
</section>