<section class="abstract">
  <div class="container">
    <article><%= render_markdown('intro') %></article>
    <article><%= render_markdown('background') %></article>
    <article><%= render_markdown('who') %></article>
    <article><%= render_markdown('differences') %></article>
  </div>
</section>

<section class="concrete" style="background: #fff;">
  <h1>The Ten Factors</h1>
  <div class="container">
    <% @factors.each do |factor| %>
      <hr style="border-top: 5px solid">
      <article id="<%= factor %>">
        <%= render_markdown(factor) %>
      </article>
    <% end %>
  </div>
</section>